body{
    background-color:#90CAF9 ;
}
.nav-item:hover{
    cursor: pointer;
    background-color:#2431aa;
    width: auto;
    height: auto;
}
.nav-link:hover{
    cursor: pointer;
    color: whitesmoke !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

img{
    width: 150px;
    height: 200px;
}
h3{
    color:white;
}